<!DOCTYPE html>
<html>
  <head>
    <title>Asdbot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  <br/>
  <div style="background-color: #cdcdcd; padding: 20px; margin-top: 20px; margin-left:0px; margin-right:0px; width: 100%;">
    Sviluppato con cuore da Ferdinando Traversa - <a href="https://ferdinando.me">Blog</a> - <a href="https://github.com/ferdi2005">Github</a> - Basato su <a href="https://rubyonrails.org">Rails 5</a><br/>
    Aggiungilo ai tuoi gruppi --> <a href="http://telegram.me/asdcounterbot">AsdCounterBot</a>
  </div>
</html>
